@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap');

/*------------------------------------------images */

.header-container {
    background: #036ffc;
    
    min-height:100px
    
}

.callout-container {
    background:url("../images/header.jpg");
    background-position:0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    

#logo{

}

