@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&family=Oswald:wght@600;700&display=swap');


h1{
    font-family: inter; sans-serif
    font-weight: 900;
    font-size: 38px;
    text-transform: uppercase;
}
/*------------------------------------------images */

.header-container {
    background: #036ffc;
    height: 75%;
}

.callout-container {
    background:url("../images/header.jpg");
    background-position:0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    margin-top: 10px;
    
    
}

.navbar-brand{
padding-left: ;
}

#nav-menu li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    text-transform:capitalize;
    font-family: inter, sans-serif;
    color: #fff;
    font-weight:200;
    font-size: 150%;
    text-align: right;
    letter-spacing: 2px;
    margin-left: 25px;
}

#nav-menu li a {
    color: white;
}

#nav-menu li a:hover {
    color: #00bee0;
}


