@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&family=Oswald:wght@600;700&display=swap');


h1{
    font-family: inter, sans-serif;
    font-weight: 900;
    font-size: 38px;
    text-transform: uppercase;

}

/*------------------------------------------images */

.header-container {
    background: #036ffc;
    height: 75%;
    background: rgb(3,111,252);
    background: linear-gradient(90deg, rgba(3,111,252) 0%, rgba(0,0,0) 100%);
}

.callout-container {
    background:url("../images/header.jpg");
    background-position:0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    margin-top: 10px;  
    overflow: hidden;
    position: relative;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#nav-menu li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    text-transform:capitalize;
    font-family: inter, sans-serif;
    color: #fff;
    font-weight:200;
    font-size: 150%;
    text-align: right;
    letter-spacing: 2px;
    margin-left: 25px;
}

#nav-menu li a {
    color: white;
}

#nav-menu li a:hover {
    color: #00bee0;
}



.form-header{
    font-family: oswald, sans-serif;
    font-weight: 700;
    font-size: xx-large;
    color: #f50707
}


   .free-form{
       padding: 20px;
       text-align: center;
       margin: 20px;
       width:500px;
       height:auto;
       background-color: rgba(255,255,255, 0.7);
       bottom: 20px;
       right: 70px;
       position:absolute
        }

        .text-xs-right{
            cursor:pointer;
            
        }
       
   
.about-us-container{
background-color: #036ffc;
}

.about-us-container{
    background-color: rgb(3,111,252);
    background: linear-gradient(90deg, rgba(3,111,252) 0%, rgba(0,0,0) 100%);
}


